<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <CloudConversion_CloudGento>
            <version>0.1.0</version>
        </CloudConversion_CloudGento>
    </modules>
    <global>
        <models>
            <cloudconversion>
                <class>CloudConversion_CloudGento_Model</class>
            </cloudconversion>
            <catalog>
                <rewrite>
                    <product_api>CloudConversion_CloudGento_Model_Catalog_Product_Api</product_api>
                    <product_api_v2>CloudConversion_CloudGento_Model_Catalog_Product_Api_V2</product_api_v2>
                </rewrite>
            </catalog>
            <sales>
                <rewrite>
                    <order_api>CloudConversion_CloudGento_Model_Order_Api</order_api>
                    <order_api_v2>CloudConversion_CloudGento_Model_Order_Api_V2</order_api_v2>
                    <order_shipment_api>CloudConversion_CloudGento_Model_Order_Shipment_Api</order_shipment_api>
                    <order_shipment_api_v2>CloudConversion_CloudGento_Model_Order_Shipment_Api_V2</order_shipment_api_v2>
                </rewrite>
            </sales>
            <sales_resource>
                <rewrite>
                    <order>CloudConversion_CloudGento_Model_Resource_Order</order>
                    <order_item>CloudConversion_CloudGento_Model_Resource_Order_Item</order_item>
                    <order_address>CloudConversion_CloudGento_Model_Resource_Order_Address</order_address>
                    <order_payment>CloudConversion_CloudGento_Model_Resource_Order_Payment</order_payment>
                    <order_status_history>CloudConversion_CloudGento_Model_Resource_Order_Status_History</order_status_history>
                </rewrite>
            </sales_resource>
            <giftmessage_resource>
                <rewrite>
                    <message>CloudConversion_CloudGento_Model_Resource_Message</message>
                </rewrite>
            </giftmessage_resource>
        </models>
        
        <blocks>
            <cloudconversion>
                <class>CloudConversion_CloudGento_Block</class>
            </cloudconversion>
        </blocks>
        
        <helpers>
            <cloudconversion>
                <class>CloudConversion_CloudGento_Helper</class>
            </cloudconversion>
        </helpers>
	
        <resources>
            <cloudconversion_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </cloudconversion_write>
            <cloudconversion_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </cloudconversion_read>
        </resources>  
    </global>
    <admin>
        <routers>
            <cloudconversion>
                <use>admin</use>
                <args>
                    <module>CloudConversion_CloudGento</module>
                    <frontName>cloudconversion</frontName>
                </args>
            </cloudconversion>
        </routers>
    </admin>
    <frontend>
        <routers>
            <cloudconversion>
                <use>standard</use>
                <args>
                    <module>CloudConversion_CloudGento</module>
                    <frontName>cloudconversion</frontName>
                </args>
            </cloudconversion>
        </routers>
    </frontend>
</config>